<a href="https://colab.research.google.com/github/robmeka/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Programming_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro
Below are a series of code challenges for you to work through. Some of them may be difficult and some of them may be simple but they all serve a purpose. By the end you should have exposure to a lot of the fundamentals of Python while also getting in practice with breaking down problems programmtically and then translating it to code.

Like we discussed, focus on breaking everything into small steps, solving those steps, and then putting it all back together. If you end up using google to help you solve something that's ok but try to use it more for the small steps. For instance, if you wanted to see if the first half of a string was the same as the second half, don't google the whole problem. Instead, you might search for how to split a string or how to compare two strings. If you do hit a brick wall and need to just see how it's done, that is ok as long as you gave the problem an honest try. In those cases, make note that you did so so we can figure out what the block was. 

In all of the coding below (whether it is your work or copy and paste), use comments (`#`) to explain what is happening in the code. It reinforces the coding you did to explain in plain English what is going on.

Finally, some of the code challenges reference writing a function. Functions make your code reusable and you'll need to learn them eventually. So, if you feel up for it I encourage you to practice placing your solutions in functions but it isn't the main thing I'm looking for.  If you do try functions, I've included a link to a notebook explaining them and for loops in more depth. Either way, good code is reusable so avoid answers that would be difficult to scale. For example, if I ask you to print the numbers 1 to 5, `print('1 2 3 4 5')` might work but you wouldn't want to scale that to print the numbers 1 to a million.

When you are done, reach out to me and we will continue you on with getting you on track.

# Resources
- **Your TL, SL, myself**: Reach out to us if you get stuck, we can nudge you along without giving you the answers
- **Google, StackOverflow, and Python Documentation**: Everyone gets stuck or comes across something they don't know, learn to embrace it because searching for answers is a big part of programming.
- [For Loop and Functions Notebook](https://colab.research.google.com/drive/18pIL5tjuVUKsoY7PmE4I9JN5awJttqbL)
- [Article About Breaking Down Problems For Programming](https://medium.com/@bundickm/the-way-of-the-rubber-duck-9669eac3c27a)

# Variable Types

Define the following variable types
- int
- float
- boolean
- char
- string
- list
- dictionary

Given an integer `n`, convert it to a float

Given a float `n`, convert it to a string.

Converting from one variable type to another has a name, what is it?

Lists, strings, and dictionaries are all considered iterables. What is an iterable?

Create a list of 5 names (choose whatever)

Select the middle value from that list. The way you select the middle value should not care how many names are in the list, so if I add another name to the list the solution still works without changing anything.

Select the first 3 names from that list

Create a dictionary with 5 names and assign a number to each of those names, one of those numbers should be `999`. 

With dictionaries, items come in a key:value pair, so for this problem the key should be a name, and the value should be a number.

From the dictionary above, get the key (the name) associated with the value 999.

Given the following string: 'Hello World! How are you?'

Complete the following tasks:
- Make the string lowercase
- Find at what index values the substring 'World!' starts and stops at
- Reverse the order of the string so it starts with '?uoy' and ends with 'olleH'
- Replace the substring 'World!' with your name

Copy and paste the link for the official documentation on boolean operations

What are three comparison operators?

Write a comparison of 2 numbers that evaluates as `True`

- `True and True` Evaluates as True
- `True and False` Evaluates as False
- `True or False` Evaluates as what?
- `not True` Evaluates as what?

What are three bitwise operators?

# For Loops

Write a for loop to print the numbers 1 to 5

Write a for loop to print 'Help I'm trapped in a computer!' 3 times

Write a for loop to print the numbers 1 to 5 and then once complete print 'All Done!'

Given the list: `[5, 4, 3, 2, 6, 9, 10]`

Write a for loop to print all the elements in the list.

Given the lists:
- `['a', 'b', 'c']`
- `[1, 2, 3]`

Print each element of the first list for each time you print the elements of the second list.

Example output:
```
1
a
b
c
2
a
b
c
3
a
b
c
```

# If Statements

Explain how comparisons are used in if statements

Given 2 numbers `m` and `n`, write an if statement that prints 'M is bigger' if `m` is the larger number.

Write an if statement that prints 'M is bigger' if `m` is larger, prints 'N is bigger' if `n` is larger, or prints 'Neither is bigger' if they are both the same size. This should not be three separate if statements.

Given the list: [5, 4, 3, 2, 6, 9, 10]

Write a for loop to print all the odd elements in the list.

Given the string: `'abcabcccabababacca'`

Write a for loop to print characters that are not `a` or `b`.

# Code Challenges

Given a list `arr`, write a function to return `True` if an elemen `n` is present in the list and `False` if it is not.

Example:

arr = `[1, 'b', 'hi', 3.5]`

n = `3.5`

Answer is `True`
<br/>
<br/>
<br/>
n = 4

Answer is `False`

Given a string `s`, return a list of the unique characters in the string. The order of the characters in the list does not matter.

Example:

s = 'hello'

Answer: ['h', 'e', 'l', 'o']

Write a function that takes an integer `n` and returns a list of the individual numbers of `n`

Example:

n = 123

Answer: `[1, 2, 3]`

Write a function that prints all the prime numbers below a number `n`

Write a function that finds the sum of the first `n` numbers in the fibonacci sequence.

Write a function to return `True` if a string is a palindrome, or `False` if it is not